:local(.movie) {
    #movie-page-top {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        h2 {
            text-align: center;
        }

    }

    img {
        margin: 2em;
    }

    a {
        
    }
    #movie-page-content {
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;

    }

    #movie-page-reviews {
        grid-column-start: 3;
        grid-column-end: 4;
    }

}