:local(.search) {
    display: block;
    margin: auto;

    #search-container {
        width: 100%;
        max-width: 500px;
        position: relative;
        display: block;
        margin: auto;
    }

    #searchBar {
        padding-left: 1em;
        border-width: 4px 0px 4px 4px;
        border-color: #082127;
        max-width: 500px;
        width: calc(100% - 47px);
        height: 2.5em;
        background: #DEDEDE;
    }


    #searchButton {
        position: absolute;  
        border-width: 4px 4px 4px 0px;
        border-color: #082127;
        width: 47px;
        height: 2.5em;
        background: #DEDEDE;
        img {
            height: 100%;
        }
    }
}