:local(.search) {
    position: relative;
    
    #searchBar {
        width: 75%;
        border-width: 4px 0px 4px 4px;
        border-color: #082127;
        min-width: 200px;
        max-width: 500px;
        height: 2.5em;
        background: #DEDEDE;
    }


    #searchButton {
        position: absolute;
        border-width: 4px 4px 4px 0px;
        border-color: #082127;
        height: 2.5em;
        background: #DEDEDE;
        img {
            height: 100%;
        }
    }
}