:local(.home) {
    display: grid;
    grid-template-columns: auto 90% auto;


    #carousel-container {
        background-color: #041215a6;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .slick-slide {
        width: 200px;
    }

    .slick-slide img {
        min-width: calc(100% - 100px);
        margin: 0 50px;
      }
      
}
