:local(.landing) {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    // background: linear-gradient(
    //     rgba(216, 211, 203, 0.548), 
    //     rgba(216, 211, 203, 0.548)
    //     ), 
    //     url('../../assets/images/film1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    #container {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 4;
        z-index: 1;
    }
    
    #blurb {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
        font-size: 1.5em;
        text-align: center;
        background-color: #98B2A6;
        // padding-top: 70%;
        padding: 10%;
        border-radius: 2%;
    }
    #search {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 6;
        align-self: center;
        width: 100%;
        padding: 5%;
    }



}