body {
    padding-bottom: 5%;
    min-height: 100vh;
    min-width: 100vw;
}

h1, h2, a {
    font-family: 'Roboto', sans-serif;
}

h3, h4, p {
    font-family: 'Quattrocentro', serif;
}

q {
    font-family: 'Open Sans Condensed', sans-serif;
}