@mixin bodyImage($property) {
    min-height: 100vh;
    min-width: 100vw;
    max-height: 900px;

    background: linear-gradient(
         rgba(216, 211, 203, 0.548), 
         rgba(216, 211, 203, 0.548)
         ), 
        url($property);
    background-size: cover;
    background-repeat: no-repeat;
}


@media only screen and (min-width: 0px) {
    body { @include bodyImage('./assets/images/film01.jpg') }
}

@media only screen and (min-width: 750px) {
    body { @include bodyImage('./assets/images/film02.jpg') }
}

@media only screen and (min-width: 950px) {
    body { @include bodyImage('./assets/images/film03.jpg') }
}

@media only screen and (min-width: 1200px) {
    body { @include bodyImage('./assets/images/film04.jpg') }
}

#site {
    max-height: 900px;
    overflow: scroll;
    background-attachment: fixed;
}

#section {
    max-width: 1200px;
}

#page-container {
    max-width: 1200px;
    margin: 0 auto !important;
}

* { box-sizing: border-box};

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #DEDEDE inset;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

//default styling for 350-500px

h1, h2, h3, h4, a { font-family: 'Roboto', sans-serif; }
p { font-family: 'Quattrocentro', serif; }
q { font-family: 'Open Sans Condensed', sans-serif; }

h1 { font-size: 1.2em; }
h2 { font-size: 1em; text-align: left;}
h3 { font-size: 1.17em; }
p { font-size: .9em; } 

.icon {
    height: 30px;
}

.clickable {
    cursor: pointer;
}

.hide {
    visibility: hidden;
}

@media only screen and (min-width: 0px) {
    body { @include bodyImage('./assets/images/film01.jpg') }
    .desktop{ display: none };
    .mobile{ display: inherit };
}

@media only screen and (min-width: 750px) {
    body { @include bodyImage('./assets/images/film02.jpg') }
    .desktop{ display: none };
    .mobile{ display: inherit };

    h1 { font-size: 1.5em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.17em; }
    p { font-size: 1em; } 
}

@media only screen and (min-width: 950px) {
    body { @include bodyImage('./assets/images/film03.jpg') }
    .desktop{ display: inherit };
    .mobile{ display: none };

    h1 { font-size: 1.8em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.17em; }
    p { font-size: 1.2em; } 
}

@media only screen and (min-width: 1200px) {
    body { @include bodyImage('./assets/images/film04.jpg') }
    .desktop{ display: inherit };
    .mobile{ display: none };

    h1 { font-size: 2em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.17em; }
}

