:local(.nav) {
    position: fixed; 
    top: 0; 
    right: 0;
    z-index: 9999;
    background: linear-gradient(to left, #98B2A6, rgba(152, 178, 166, 0));

    ul {
        padding: 5%;;
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        }

    li {
        list-style: none;
        }

    a {
        text-decoration: none;
        align-self: center;
        color:#082127;
        font-size: 1.2em;
    }
    img {
        display: none;
    }

    .bottom {    
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9999;
        width: 100vw;
        height: 5%;
        background-color: #DEDEDE;
    
        ul {
        padding: 1%;
        margin: 0;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        
    }
    
        li {
            height: 100%;
            display: flex;
            flex-direction: column;
            list-style: none;
        }
    
        a {
            text-decoration: none;
            align-self: center;
            color:#082127;
            font-size: 1em;
        }

        img {
            width: 50%;
            padding: 2%;
            display: block;
            margin: auto;
        }

    }

}